# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/Chapters/Chapter[[:space:]]7/LightingData.asset filter=lfs diff=lfs merge=lfs -text
